body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(81, 81, 81);
}

h1 {
  color: white;
  font-size: 4rem;
}

button {
  background-color: rgb(45, 45, 45);
  color: white;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: rgb(60, 60, 60);
  box-shadow: 0px 0px 10px 3px #fff;
  transition: 0.3s;
}

.buttons {
  display: flex;
  gap: 1rem;
}
