.area {
  padding: 5rem;
  background: none;
  border: 1px solid #fff;
  color: #fff;
}

.game {
  display: grid;
  grid-template-columns: auto auto auto;
  height: 40rem;
  width: 40rem;
}

body {
  display: flex;
  align-items: center;
  background-color: #3b3b3b;
  flex-direction: column;
}
