body {
  display: flex;
  align-items: center;
  background-color: #1f1f1f;
  flex-direction: column;
  transition: 0.3s;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

.area {
  width: 12rem;
  height: 12rem;
  background-color: #252525;
  border: 1px solid #fff;
  color: #fff;
  font-size: 2rem;
}

.goBack {
  position: absolute;
  top: 0;
  left: 0;
  margin: 1rem;
  padding: 0.5rem 1rem;
  background: none;
  border: #404040 3px solid;
  border-radius: 10px;
  color: white;
}

.goBack:hover {
  transition: 0.3s;
  box-shadow: 0px 0px 10px 3px #fff;
}

h1 {
  font-size: 4rem;
  font-weight: normal;
}

.X {
  background-color: #d14747;
  animation: fadeIn 1s;
  transition: 0.3s;
}

.O {
  background-color: #47d1a8;
  animation: fadeIn 1s;
  transition: 0.3s;
}

.X:hover {
  background-color: #c71111;
  transition: 0.3s;
}

.O:hover {
  background-color: #11c7a1;
  transition: 0.3s;
}

.game {
  display: grid;
  grid-template-columns: auto auto auto;
  height: 36rem;
  width: 36rem;
}

.area:hover {
  transition: 0.3s;
  box-shadow: 0px 0px 40px 3px rgb(140, 3, 182);
  z-index: 1;
}

.area:active {
  transition: 0.5s;
}

#popup {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  font-size: 6rem;
  border: 3px solid black;
  height: 13rem;
  width: 32rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #252525;
  color: #fff;
  border-radius: 10px;
  gap: 1rem;
  flex-direction: column;
  animation: fadeIn 1s;
  z-index: 2;
}

#reset {
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  background: none;
  border: #404040 3px solid;
  border-radius: 10px;
  color: white;
}

#reset:hover {
  transition: 0.3s;
  box-shadow: 0px 0px 10px 3px #fff;
}

.hidden {
  display: none !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
