.area {
  width: 12rem;
  height: 12rem;
  background: none;
  border: 1px solid #fff;
  color: #fff;
  font-size: 2rem;
}

.game {
  display: grid;
  grid-template-columns: auto auto auto;
  height: 36rem;
  width: 36rem;
}

body {
  display: flex;
  align-items: center;
  background-color: #3b3b3b;
  flex-direction: column;
  transition: 0.3s;
}

.area:hover {
  transition: 0.3s;
  box-shadow: 0px 0px 20px 3px #0ff;
}

.area:active {
  transition: 0.5s;
}

#popup {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  font-size: 6rem;
  border: 3px solid black;
  height: 25%;
  width: 32rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #252525;
  color: #fff;
  border-radius: 10px;
  gap: 1rem;
  flex-direction: column;
}

#reset {
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  background: none;
  border: #404040 3px solid;
  border-radius: 10px;
  color: white;
}

#reset:hover {
  transition: 0.3s;
  box-shadow: 0px 0px 10px 3px #fff;
}

.hidden {
  display: none !important;
}
